.text-field{
    -fx-font-size: 14;
    -fx-padding: 4;
    -fx-border-color: rgb(148, 148, 148, 1.0);
    -fx-border-width: 2;
    -fx-border-radius: 0;
    -fx-border: gone;
    -fx-background-color: rgb(0, 0, 0, 0.0);
    -fx-text-fill: rgb(255, 255, 255, 1.0);
 }
.text-field:hover{
    -fx-font-size: 14;
    -fx-padding: 4;
    -fx-border-color: rgb(255, 255, 255, 1.0);
    -fx-border-width: 2;
    -fx-border-radius: 0;
    -fx-border: gone;
    -fx-background-color: rgb(0, 0, 0, 0.0);
    -fx-text-fill: rgb(255, 255, 255, 1.0);
 }
 .text-field:focused{
    -fx-font-size: 14;
    -fx-padding: 4;
    -fx-border-color: rgb(210, 136, 24, 1.0);
    -fx-border-width: 2;
    -fx-border-radius: 0;
    -fx-border: gone;
    -fx-background-color: rgb(0, 0, 0, 0.0);
    -fx-text-fill: rgb(255, 255, 255, 1.0);
 }


 
 