.button {
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-padding: 4 12 4 12;
    -fx-background-radius: 0;
    -fx-background-color: rgb(0, 0, 0, 0.0);
    -fx-border-radius: 0;
    -fx-border-color: rgb(210, 136, 24, 1.0);
    -fx-border-width: 2;
    -fx-text-fill: rgb(210, 136, 24, 1.0);
}
.button:hover {
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-padding: 4 12 4 12;
    -fx-background-radius: 0;
    -fx-background-color: rgb(0, 0, 0, 0.0);
    -fx-border-radius: 0;
    -fx-border-color: rgb(255, 188, 86, 1.0);
    -fx-border-width: 2;
    -fx-text-fill: rgb(255, 188, 86, 1.0);
}